body{
    text-align: center;
    font: normal 16pt arial;
    background-color: rgb(210, 192, 253);
    color: rgb(0, 0, 0);
}
h1{
    color: rgb(94, 16, 97);
}
h3{
    color: rgb(94, 16, 97);
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 2px;
}
p{
    text-align: center;
}
p.pp{
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 15px;
}
div.Cont{
    background-color:rgb(221, 215, 250);
        width: 500px;
        border: 7px solid rgb(94, 16, 97);
        padding: 2px 40px 20px;
        margin: 30px;
        font-family: Arial, Helvetica sans-serif;              
}
div#Text{
        background-color:rgb(180, 139, 219);
        color: rgb(17, 16, 97);
        text-align: center;
        width: 300px;
        border: 3px solid rgb(60, 16, 97);
        padding: 5px 65px 5px ;
        margin: 30px;
        font-family: Arial, Helvetica, sans-serif;
}

.btn{
    border:1px solid #452569;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:normal;
    font-size:15px;
    padding:6px 10px;
    text-decoration:none;
    margin-bottom: 5px;
    margin-top: 0px;
    } 
    
    .btn{
    border-color:#69168a;
    color:rgb(0, 0, 0);
    text-shadow:0px 1px 0px #640980;
    }

    .btn:hover {
    background:linear-gradient(to bottom, #8a65b4 5%, #c2aad5 100%);
    }
    
    .btn:active {
    position:relative;
    top:2px;}
    