body{
    text-align: center;
    font: normal 16pt arial;
    background-color: rgb(241, 191, 222);
    color: rgb(0, 0, 0);
}
h1{
    color: rgb(196, 33, 109);
}
h3{
    color: rgb(196, 33, 109); 
    font-size: 15px;
}
.input{
    margin-top: 5px;
}

div.Senha{
    background-color:rgb(243, 215, 250);
        width: 500px;
        border: 7px solid rgb(196, 33, 109);
        padding: 2px 40px 20px;
        margin: 30px;
        font-family: Arial, Helvetica sans-serif;              
}
div#ForcaSenha{
        background-color:rgb(230, 177, 197);
        color: rgb(122, 12, 63);
        text-align: center;
        width: 300px;
        border: 3px solid rgb(196, 33, 109);
        padding: 5px 65px 5px ;
        margin: 30px;
        font-family: Arial, Helvetica, sans-serif;
}