body{
    text-align: center;
    font: normal 16pt arial;
    background-color: rgb(253, 219, 192);
    color: rgb(0, 0, 0);
}
h1{
    color: rgb(196, 93, 33);
}
div.Date{
    background-color:rgb(250, 238, 215);
        width: 500px;
        border: 7px solid rgb(196, 93, 33);
        padding: 2px 40px 20px;
        margin: 30px;
        font-family: Arial, Helvetica sans-serif;              
}
div#Result{
        background-color:rgb(219, 178, 139);
        color: rgb(97, 52, 16);
        text-align: center;
        width: 300px;
        border: 3px solid rgb(196, 93, 33);
        padding: 5px 65px 5px ;
        margin: 30px;
        font-family: Arial, Helvetica, sans-serif;
}
.btn{
    border:1px solid #9e5330;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:normal;
    font-size:15px;
    padding:6px 10px;
    text-decoration:none;
    margin-bottom: 5px;
    margin-top: 0px;
    } 
    
    .btn{
    border-color:#8a4416;
    color:rgb(0, 0, 0);
    text-shadow:0px 1px 0px #801109;
    }

    .btn:hover {
    background:linear-gradient(to bottom, #f39163 5%, #f1bca3 100%);
    }
    
    .btn:active {
    position:relative;
    top:2px;}
    