body{
    text-align: center;
    font: normal 16pt arial;
    background-color: rgb(192, 249, 253);
    color: rgb(0, 0, 0);
}
h1{
    color: rgb(17, 16, 97);
}
div.soma{
        background-color:rgb(215, 224, 250);
        width: 500px;
        border: 7px solid rgba(38, 169, 245, 0.897);
        padding: 2px 40px 20px;
        margin: 30px;
        font-family: Arial, Helvetica sans-serif;   
                   
}
div#resultado{
        background-color:rgb(139, 162, 219);
        color: rgb(17, 16, 97);
        text-align: center;
        width: 300px;
        border: 3px solid rgb(17, 16, 97);
        padding: 5px 65px 5px ;
        margin: 30px;
        font-family: Arial, Helvetica, sans-serif;
}